<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/images/favicon.ico">
    <title>Doowon Portal Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <link rel="stylesheet" type="text/css" href="css/darkmode.css" />
</head>

<body>
    <header class="header">
        <div class="logo"><a href="http://211.238.111.33:8080/cb/"><img src="images/doowon_logo.png  " alt="Logo" /></a></div>
        <div class="title-container"><h1>Doowon Portal</h1><p>두원공조 포탈</p></div>
    </header>

    <div class="login-container">
        <h2>Codebeamer Login</h2>
        <form class="login-form" action="/login" method="POST">
            <input type="text" name="username" placeholder="Username" autocomplete="username" required>
            <input type="password" name="password" placeholder="Password" autocomplete="current-password" required>
            <button type="submit" style="background: #201B87; color: white; border: none; padding: 12px 24px; border-radius: 6px; cursor: pointer; font-weight: 500; transition: background 0.3s ease; text-decoration: none; display: inline-block;">Login</button>
        </form>
        <% if (error) { %>
            <p class="error-message"><%= error %></p>
        <% } %>
    </div>


</body>
</html>
